<style>
  .min-h-s{
    min-height: 10rem;
  }
</style>

<div class="p-5 pl-10">
  <h2 class="text-3xl font-bold my-7 ml-5">Ajouter un décès </h2>
  <hr>
  <%= render partial: 'form', locals: { submit: 'Créer' }%>
</div>
<% content_for :banners do %>
  <%=render 'shared/banners'%>
<% end %>

<% content_for :footer do %>
  <%=render 'shared/footer'%>
<% end %>