<div class="flex justify-between">
  <div class="w-4/6">
    
  </div>
  <div class="w-2/6">a</div>
</div>

<% content_for :banners do %>
  <%=render 'shared/banners'%>
<% end %>
<% content_for :footer do %>
  <%=render 'shared/footer'%>
<% end %>