<div class="p-5 pl-10">
  <div>
    <h2 class="text-3xl font-bold my-7 ml-5">Enchères en cours</h2>
    <hr>
  </div>

  <div>
    <% @bids.each do |bid| %>
      <%= render partial: "shared/bid_cart", locals: { bid: bid } %>  
    <% end %>
  </div>

  <div>
    <h2 class="text-3xl font-bold my-7 ml-5">Enchères à venir</h2>
    <hr>
  </div>

  <div>
    <% @coming_bids.each do |bid| %>
      <%= render partial: "shared/bid_cart", locals: { bid: bid } %>
    <% end %>
  </div>

</div>

<% content_for :banners do %>
  <%=render 'shared/banners'%>
<% end %>

<% content_for :footer do %>
  <%=render 'shared/footer'%>
<% end %>
