<style>
  .min-h-s{
    min-height: 10rem;
  }
</style>
<div class="p-5 pl-10">
  <div>
    <h2 class="text-3xl font-bold my-7 ml-5">Enchères en cours</h2>
    <hr>
  </div>

  <div class="min-h-s flex flew-wrap content-start mr-3 ">
    <% @bids.each do |bid| %>
      <%= render partial: "shared/bid_cart", locals: { bid: bid } %>  
    <% end %>
    <%if @bids.length == 0%>
      <p class="w-full h-full py-10 text-gray-400 text-3xl text-center">Aucune enchères en cours...</p>
    <% end %>
  </div>

  <div>
    <h2 class="text-3xl font-bold my-7 ml-5">Enchères à venir</h2>
    <hr>
  </div>

  <div class='min-h-s flex flew-wrap content-start mr-3'>
    <% @coming_bids.each do |bid| %>
      <%= render partial: "shared/bid_cart", locals: { bid: bid } %>
    <% end %>
    <%if @coming_bids.length == 0%>
      <p class="w-full h-full py-10 text-gray-400 text-3xl text-center">Aucune enchères à venir...</p>
    <% end %>
  </div>

</div>

<% content_for :banners do %>
  <%=render 'shared/banners'%>
<% end %>

<% content_for :footer do %>
  <%=render 'shared/footer'%>
<% end %>
