<div class="p-5 pl-10">
  <div>
    <h2 class="text-3xl font-bold mb-5 ml-5">Enchères</h2>
    <hr>
  </div>

  <div>
    <% @bids.each do |bid| %>
      <%= link_to "#{bid.product.name}", user_store_product_bid_path(current_user, bid.product.store, bid.product, bid) %>
    <% end %>
  </div>

  <div>
    <% @coming_bids.each do |bid| %>
      <%= link_to "#{bid.product.name}", user_store_product_bid_path(current_user, bid.product.store, bid.product, bid) %>
    <% end %>
  </div>

</div>