

<div class="flex justify-center text-red-600">
<div>
<h1><%= @stock.quantity%></h1>



<hr/>
<table>
  <thead>
    <tr>
      <th>quantity</th>
   
      
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @stock.quantity %></td>

      <td>
      <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
          <%= link_to 'edit', edit_user_store_product_stock_path(current_user, @store)%>
        </button>
      </td>
      <td>
        <button class="bg-red-800 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
          <%= link_to 'delete', user_store_product_stock_path(current_user, @store), method: :delete, data: {confirm: 'Are you sure?'}%>
        </button> 
      </td>
      
    </tr>
  </tbody>
</table>

</div>

</div>

