<nav class="w-full overflow-x-hidden top-0 p-3 flex justify-between items-start">
  <span class="w-1/6">
    <p>Logo</p>
  </span>
  <div class="w-4/6">
    <%=render 'searchs'%>
    <span class="w-full">
      <div class="flex items-center justify-evenly">
        <a href='#' class='font-semibold text-xl'>Tous les produits</a>
        <a href='#' class='font-semibold text-xl'>Catégories</a>
        <a href='#' class='font-semibold text-xl'>Tendances</a>
        <a href='#' class='font-semibold text-xl'>Enchères</a>
      </div>
    </span>
  
  </div>
  <span class='w-1/6 flex items-center justify-evenly pt-2'>
    <a href='#'>
      <i class="fal fa-shopping-cart text-2xl"></i>
    </a>
    <a href='#'>
      <i class="fal fa-heart text-2xl"></i>
    </a>
    <a href='<%=new_user_session_path%>'>
      <i class="fal fa-user text-2xl"></i>
    </a>
  </span>
</nav>