<nav class="w-screen top-0 p-3 flex justify-between bg-gray-100">
  <span class="w-1/6">
    <p>Logo</p>
  </span>
  <span class="w-4/6">
    <div class="flex items-center justify-evenly">
      <a href='#' class='font-semibold'>Tous les produits</a>
      <a href='#' class='font-semibold'>Catégories</a>
      <a href='#' class='font-semibold'>Tendances</a>
      <a href='#' class='font-semibold'>Enchères</a>
    </div>
  </span>
  <span class='w-1/6 flex items-center justify-evenly'>
    <a href='#'>
      <i class="fal fa-shopping-cart"></i>
    </a>
    <a href='#'>
      <i class="fal fa-heart"></i>
    </a>
    <a href='#'>
      <i class="fal fa-user"></i>
    </a>
  </span>
</nav>