
 <% @top_offer.each do |offer| %>
    <h2 class="text-2xl font-bold text-center my-5">Offre gagnante :
        <%= offer.user.email %>      
      <span class="text-red-600"><%= offer.amount %> XOF</span>
    </h2>
<%end%>
  
