<footer class="footer bottom-0 overflow-hidden py-4 px-14">
  <div class="flex py-3">
    <a href='<%=root_path %>' class="w-1/6 h-14 flex px-2 justify-center overflow-hidden">
      <%=image_tag 'allakrowbg.png', class:'w-full h-20'%>
    </a>
  </div>
  <div class="flex py-3">
    <p class="w-3/5 font-light">
      Découvrez notre site e-commerce dédié à la promotion artisanale d'une communauté passionnée !
      Nous mettons en avant les créations uniques de nos artisans locaux.
      Notre plateforme célèbre le talent et le savoir-faire exceptionnel de notre communauté artisanale.
      Parcourez notre sélection de bijoux, vêtements, décoration, mobilier et œuvres d'art faits à la main avec amour et passion.
      Chaque produit raconte une histoire et reflète l'expertise de son créateur.
      Nous sélectionnons avec soin des artisans talentueux et originaux, préservant ainsi leurs métiers traditionnels.
    </p>
  </div>
  <div class="flex justify-between items-center pt-10 pb-4">
    <div class="flex justify-between items-center w-4/5 px-10">
      <p class='w-1/5 font-bold text-sm text-gray-700'>SUIVEZ LA TRIBU SUR :</p>
      <span class='w-2/5 pl-10'>
        <a href="#">
          <i class="fab fa-twitter text-xl pr-5 text-red-500"></i>
        </a>
        <a href="#">
          <i class="fab fa-instagram text-xl pr-5 text-red-500"></i>
        </a>
        <a href="#">
          <i class="fab fa-facebook-f text-xl pr-5 text-red-500"></i>
        </a>
      </span>
      <span class='w-2/5 flex'>
        <p class="font-bold">Support line: </p>
        <p class="font-bold">+225 0000000000</p>
      </span>
    </div>
    <div class='w-1/5 flex items-center'>
      <p>Copyright 2023 &copy;AllakroConnect</p>
    </div>
  </div>
</footer>