<footer class="footer bottom-0 overflow-hidden py-4 px-14">
  <div class="flex py-3">
    <a href='<%=root_path %>' class="w-1/6 h-14 flex px-2 justify-center overflow-hidden">
      <%=image_tag 'Group 3.png', class:'w-full h-12'%>
    </a>
  </div>
  <div class="flex py-3">
    <p class="w-3/5 font-light">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>
  <div class="flex justify-between items-center pt-10 pb-4">
    <div class="flex justify-between items-center w-4/5 px-10">
      <p class='w-1/5 font-light text-sm text-gray-700'>SUIVEZ LA TRIBU SUR :</p>
      <span class='w-2/5 pl-10'>
        <a href="#">
          <i class="fab fa-twitter text-xl pr-5 text-red-500"></i>
        </a>
        <a href="#">
          <i class="fab fa-instagram text-xl pr-5 text-red-500"></i>
        </a>
        <a href="#">
          <i class="fab fa-facebook-f text-xl pr-5 text-red-500"></i>
        </a>
      </span>
      <span class='w-2/5 flex'>
        <p class="font-light">Support line: </p>
        <p class="font-light">+225 0000000000</p>
      </span>
    </div>
    <div class='w-1/5 flex items-center'>
      <p>Copyright 2021 &copy;Techshelter</p>
    </div>
  </div>
</footer>