<div class="flex flex-col text-2xl font-bold mt-5 items-center">
  <div class="flex bg-gray-200 rounded p-5 items-center w-3/4 justify-around">
    <h2>
      <%= link_to "Commande ##{order.id[0,7].upcase}", store_order_path(order.cart.store, order) %>
    </h2>
    <h2>
      Prix : <%= number_with_delimiter( order.cart.total_price, :delimiter => '.') %> XOF
    </h2>
    <h2>
      Nombre de produits (<%= order.cart.line_items.count %>)
    </h2>
    <div>
      <a href="<%= reject_order_path(order.cart.store, order) %>" data-method="DELETE", data-confirm="Supprimer la commande ?">
        <i class="fad fa-times-circle text-3xl text-red-500"></i>
      </a>
    </div>
  </div><br>
</div>

