<div class="py-3">
  <p class="text-4xl text-medium text-center">Comment commandez?</p>
  <div class="flex justify-evenly px-10 pt-8">
    <i class="fab fa-affiliatetheme text-6xl"></i>
    <i class="fab fa-amazon-pay text-6xl"></i>
    <i class="fab fa-angrycreative text-6xl"></i>
  </div>
</div>