<div class="mx-2 w-64">
  <%=image_tag 'j haine x gada.jpg', class:'h-64 w-full object-cover'%>
  <div class="flex py-1">
    <i>from: </i>
    <p> store_name</p>
  </div>
  <div class="py-2">
    <p class=" font-medium text-lg">Masque Gouro</p>
    <p class=" font-bold text-2xl py-2">35.000 FCFA</p>
  </div>
</div>