<div class="mx-2 w-64 m-2">
  <% if store.background.attached? %>
    <%= image_tag store.background, class:'m-0 rounded-full h-72 w-72 '%>
  <%else%>
    <%=image_tag 'im_qirxk_116738413_901506843705991_4282210016526218676_n.jpg', class:'h-64 w-full object-cover'%>
  <% end %>
  <div class="py-2">
    <p class=" font-medium text-md">owner: <%=store.user.email%></p>
    <p class=" font-semibold text-xl py-2"><%=store.name%></p>
  </div>
</div>