<div class="flex overflow-hidden justify-evenly items-stretch px-16 py-10 h-96 bg-gray-100">
  <div class="w-3/5 flex flex-wrap content-center px-5 ">
    <p class="text-6xl w-full">Masque Gouro</p>
    <p class="font-light w-full py-5 pr-5">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
    </p>
    <p class="text-4xl font-semibold w-full">64.000 FCFA</p>
    <div class="flex py-5">
      <a href="#" class='py-3 px-10 bg-red-600 text-white font-semibold text-lg'> 
        Ajouter au panier
      </a>
    </div>
  </div>
  <div class="flex overflow-hidden justify-center items-center w-2/5">
    <%= image_tag 'Wavy Buddies - Avatar.png', class:'m-0 rounded-full h-72 w-72 '%>
  </div>
</div>