<div class="rounded overflow-hidden shadow-lg">
  <div class="relative">
      <a href="#">
        <%= image_tag("birth.jpg") %>
        <div
            class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
        </div>
      </a>

      <a href="!#">
          <div
              class="text-sm absolute top-0 right-0 bg-red-600 px-4 text-white rounded-full h-20 w-20 flex flex-col items-center justify-center mt-3 mr-3 hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
              <span class="font-bold">27</span>
              <small>Naissances</small>
          </div>
      </a>
  </div>
  <div class="px-6 py-4">

      <a href="#"
          class="font-semibold text-lg inline-block hover:text-red-600 transition duration-500 ease-in-out">Répertoire des naissances</a>
      <p class="text-gray-500 text-sm">
          Ici toutes les infos sur les naissances
      </p>
  </div>
  <div class="px-6 py-4 flex flex-row items-center">
    <a href="" class="text-red-700 border border-red-600 py-4 px-6 rounded inline-flex items-center">
      Plus
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          viewBox="0 0 24 24" class="w-6 h-6 ml-2">
          <path d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
      </svg>
    </a>
  </div>
</div>