<%= form_with model: [store ,chat], data:{remote: true, controller: 'action-on-submit', action: 'ajax:success->action-on-submit#emptyField', 'action-on-submit-target': 'form'} do |form| %>
<div class="w-full flex rounded overflow-hidden">
  <%= form.text_field :content, placeholder:'Enter your message here', class:'outline-none w-5/6 px-4 py-2 border-none bg-gray-100 ',data:{'action-on-submit-target': 'field', action:'keyup->action-on-submit#enableField'} %>
  <% if @chat.errors[:content] %>
    <span style='color: red'><%= @chat.errors[:content][0] %></span>
  <% end %>
  <%= form.submit "Envoyer", class: "rounded rounded-tl-none rounded-bl-none py-2 px-10 bg-red-500 text-white",data: {'action-on-submit-target': 'submitBtn'} %>
</div>
<%end%>