<div class='h_min'>
  <h2 class="text-center font-bold text-3xl my-5">Mes commandes</h2>

  <% if @user_orders %>
    <%= render partial: "shared/user_orders", locals: { orders: @user_orders } %>
  <% end %>

  <% if @store_orders %>
    <%= render partial: "shared/store_orders", locals: { orders: @store_orders } %>
  <% end %>
</div>

<% content_for :banners do %>
  <%=render 'shared/banners'%>
<% end %>

<% content_for :footer do %>
  <%=render 'shared/footer'%>
<% end %>