<div class="p-5 pl-10">
  <div>
    <h2 class="text-3xl font-bold mb-5 ml-5">Mon panier</h2>
    <hr>
  </div>
  <div>
    <% if @carts.count < 1 %>
      <span class="flex w-full justify-center">
        <%= image_tag 'undraw_empty_cart_co.svg', class:'h-80 opacity-60 m-10'%>
      </span>
    <% else %>
      <% @carts.each do |cart| %>
        <%= render partial: "shared/cart", locals: { cart: cart } %>
      <% end %>
    <% end %>
  </div>

</div>
<% content_for :banners do %>
  <%=render 'shared/banners'%>
<% end %>

<% content_for :footer do %>
  <%=render 'shared/footer'%>
<% end %>

