<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Salut <%= @order.cart.user.email %>, Votre commande a été confirmée !</p>
  </body>
</html>