<%= form_with model: [store, product, bid, offer] do |form|%>
  <div class="flex justify-center">
    <%= form.number_field :amount, placeholder: "Votre offre: 50000 XOF", class:"block border border-grey-light w-1/3 p-3 rounded mb-4 mr-4" %>
    <% if current_user %>
      <%= form.submit "Faire une offre", class: "w-1/5 text-center py-3 rounded bg-red-600 text-white hover:bg-green-dark focus:outline-none h-12" %>
    <%else%>
      <%= link_to 'Faire une offre', new_user_session_path, class: "w-1/5 text-center py-3 rounded bg-red-600 text-white hover:bg-green-dark focus:outline-none h-12" %>
    <%end%>
  </div>
<% end %>