<div class="overflow-hidden relative bg-red-600 h-screen flex justify-between" >
  <div class="overflow-hidden w-2/6 bg-red-600"> 
    <div class="w-full flex py-14 px-10">    
      <%= image_tag "logojokou.png", class:'w-3/5' %>
    </div>
    <div class="pl-10"> 
      <p class="text-white text-2xl ">Vous pouvez vendre votre Art.</p>
    </div>
    <div class="pl-10 pt-10">
      <p class="text-white text-2xl">Vous pouvez acheter en ligne les oeuvres des Artisans Ivoiriens.</p>
    </div>
  </div>
  <div class="overflow-hidden w-4/6 bg-white rounded-3xl rounded-tr-none rounded-br-none shadow-md pl-24 py-14 pr-14"> 
    <div class="w-full flex py-10">
      <h2 class="text-3xl font-normal">Forgot your password?</h2>
    </div>
    <div class="overflow-hidden w-4/5 pt-5">
      <%= render "form_password" %>
    </div>
  </div>
</div>