<%= form_with model: [current_user, current_user.account, transaction] do |form|%>
  <div class="flex">
    <div class="field">
        <%= form.number_field :amount, min:'0', class: 'w-5/6 outline-none bg-gray-100 rounded px-3 py-2', placeholder:'montant FCFA'%>
    </div>
    <div class="field ">
        <%= form.select :type_transaction, ['Dépôt', 'Rétrait'], class:'px-4 py-3 rounded-full' %>
        
    </div> <br>

    <%= form.submit 'Effectuer', class:'px-3 py-2 w-2/6 rounded bg-red-600 text-white'  %>
  </div>
  <%end%>