<% if transaction.type_transaction == 'Dépôt' || transaction.type_transaction == 'Rétrait'  %> 
  <tr>
    <td class="p-2 whitespace-nowrap">
        <div class="text-left">
          <%= transaction.created_at&.strftime("%I: %M %p")%>
        </div>
    </td>
      <td class="p-2 whitespace-nowrap">
          <div class="flex items-center">
              <div class="font-medium text-gray-800">
                <%= transaction.type_transaction %>
              </div>
          </div>
      </td>
      <td class="p-2 whitespace-nowrap">
        <% if transaction.type_transaction == 'Dépôt'%>
          <div class="text-left font-medium text-green-500">+<%= number_with_delimiter(transaction.amount, :delimiter => '.')%> FCFA</div>
          <%end%>
        <%if transaction.type_transaction == 'Rétrait' %>
          <div class="text-left font-medium text-red-600">-<%= number_with_delimiter(transaction.amount, :delimiter => '.')%> FCFA</div>
        <% end%>
      </td>
  </tr>
<% end%>