<div class="my-1 flex items-center pl-3"> 
  <input type="checkbox" name="categorie"  autocomplete="off" value="<%=categories.name%>" data-search-target='category' >
  <label for="categorie" class="text-lg ml-2"><%=categories.name%></label>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        // $(function () {
        //     if (localStorage && localStorage["checked"]) {
        //         var localStoredData = JSON.parse(localStorage["checked"]);
        //         var checkboxes = $("input[name='categorie']");
        //         for (var i = 0; i < checkboxes.length; i++) {
        //             for (var j = 0; j < localStoredData.length; j++) {
        //                 if (checkboxes[i].value == localStoredData[j]) {
        //                     checkboxes[i].checked = true;
        //                 }
        //             }
        //         }
        //         localStorage.removeItem('checked');
        //     }
        //     $("input[type=checkbox]").click(function () {
        //         var data = $("input[name='categorie']:checked").map(function () {
        //             return this.value;
        //         }).get();
        //         localStorage['checked'] = JSON.stringify(data);
        //         window.location.reload();
        //     });
        // });   
    </script>