<div class="my-1 flex items-center pl-3"> 
  <input type="checkbox" name="city_town"  value="<%=cities.town%>" data-search-target='location' <%= @search_infos[:locations].include?(cities.town) ? 'checked' : ''%>>
  <label for="city_town" class="text-lg ml-2"><%=cities.town%></label>
</div>