<div class="">
  <h1 class="text-4xl font-medium text-gray-700 px-3">Create a Product</h1>
  <%= render partial: 'form', locals: { store: @store, product: @product, submit: 'Créer' }%>
</div>
<% content_for :banners do %>
  <%=render 'shared/banners'%>
<% end %>

<% content_for :footer do %>
  <%=render 'shared/footer'%>
<% end %>