<table class=" table w-full mb-2 ">
  <thead class="text-xs font-semibold uppercase text-white bg-red-600">
    <tr>
      <th class="p-2 whitespace-nowrap">
        <div class="font-semibold text-left">Date opération</div>
      </th>
      <th class="p-2 whitespace-nowrap">
        <div class="font-semibold text-left">Type d'opération</div>
      </th>
      <th class="p-2 whitespace-nowrap">
        <div class="font-semibold text-left">Montant</div>
      </th>
    </tr>
  </thead>
</table>